{% extends 'base.html' %}
{% load static %}
{% load check %}

{% block title %}
    Product List Page
{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row flex-between-center">
                <div class="col-sm-auto mb-2 mb-sm-0">
                    <h6 class="mb-0">Showing 1-24 of 205 Products</h6>
                </div>
                <div class="col-sm-auto">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <form class="row gx-2">
                                <div class="col-auto"><small>Sort by: </small></div>
                                <div class="col-auto">
                                    <select class="form-select form-select-sm" aria-label="Bulk actions">
                                        <option selected="">Best Match</option>
                                        <option value="Refund">Newest</option>
                                        <option value="Delete">Price</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-auto pe-0">
                            <a class="text-600 px-1"
                               href="../../../app/e-commerce/product/product-grid.html"
                               data-bs-toggle="tooltip" title="Product Grid"><span
                                    class="fas fa-th"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0 overflow-hidden">
            <div class="row g-0">
                {% for product in product_list %}
                    <div class="col-12 p-card">
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <div class="position-relative h-sm-100">
                                    <a class="d-block h-100" href="{% url 'product_detail' product.slug %}">
                                        <img class="img-fluid fit-cover w-sm-100 h-sm-100 rounded-1 absolute-sm-centered"
                                             src="{{ product.image.url }}" alt=""/>
                                    </a>
                                    <div class="badge rounded-pill bg-success position-absolute top-0 end-0 me-2 mt-2 fs--2 z-index-2">
                                        New
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-8">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h5 class="mt-3 mt-sm-0">
                                            <a class="text-dark fs-0 fs-lg-1"
                                               href="{% url 'product_detail' product.slug %}">
                                                {{ product.name }}
                                            </a>
                                        </h5>
                                        <p class="fs--1 mb-2 mb-md-3"><a class="text-500" href="#!">Computer &amp;
                                            Accessories</a></p>
                                        <ul class="list-unstyled d-none d-lg-block">
                                            {% for key, value in product.spec.items %}
                                                <li>
                                                    <span class="fas fa-circle" data-fa-transform="shrink-12"></span>
                                                    <span>{{ value }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 d-flex justify-content-between flex-column">
                                        <div>
                                            <h4 class="fs-1 fs-md-2 text-warning mb-0">$</h4>
                                            {% if product.discount %}
                                                <h5 class="fs--1 text-500 mb-0 mt-1">
                                                    <del>${{ product.price }}</del>
                                                    <span class="ms-1">-{{ product.discount }}%</span>
                                                </h5>
                                            {% endif %}
                                            <div class="mb-2 mt-3"><span class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-warning"></span><span
                                                    class="fa fa-star text-300"></span><span class="ms-1">(8)</span>
                                            </div>
                                            <div class="d-none d-lg-block">
                                                <p class="fs--1 mb-1">Shipping Cost: <strong>$50</strong></p>
                                                <p class="fs--1 mb-1">Stock: <strong
                                                        class="text-success">Available</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <a class="btn btn-sm btn-outline-secondary border-300 d-lg-block me-2 me-lg-0"
                                               href="{% url 'add_favourite' product.id %}?url={% url 'product_list' %}">
                                                {% if product|has_fav:user %}
                                                    <span class="fa fa-heart" style="color: red"></span>
                                                {% else %}
                                                    <span class="far fa-heart"></span>
                                                {% endif %}
                                                <span class="ms-2 d-none d-md-inline-block">Favourite</span>
                                            </a>
                                            <a class="btn btn-sm btn-{% if product|has_cart:user %}success{% else %}primary{% endif %} d-lg-block mt-lg-2"
                                               href="{% url 'add-cart' product.pk %}?url={% url 'product_list' %}">
                                                <span class="fas fa-cart-plus"></span>
                                                <span class="ms-2 d-none d-md-inline-block">
                                                    {% if product|has_cart:user %}
                                                        Added
                                                    {% else %}
                                                        Add to Cart
                                                    {% endif %}>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card-footer border-top d-flex justify-content-center">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <button class="btn btn-falcon-default btn-sm me-2" type="button"
                        data-bs-placement="top" title="" data-bs-original-title="Prev" aria-label="Prev">
                        <a href="{% url 'product_list' %}?page={{ page_obj.previous_page_number }}">
                            <span class="fas fa-chevron-left"></span></a>
                    </button>
                {% endif %}

                {% for num_page in page_obj.paginator.page_range %}
                    {% if page_obj.number == num_page %}
                        <a class="btn btn-sm btn-falcon-default text-primary me-2"
                           href="{% url 'product_list' %}?page={{ num_page }}" class="page-link">{{ num_page }}</a>
                    {% else %}
                        <a class="btn btn-sm btn-falcon-default text-primary me-2"
                           href="{% url 'product_list' %}?page={{ num_page }}" class="page-link">{{ num_page }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <button class="btn btn-falcon-default btn-sm" type="button"
                            data-bs-original-title="Next" aria-label="Next">
                        <a href="{% url 'product_list' %}?page={{ page_obj.next_page_number }}">
                            <span class="fas fa-chevron-right"></span></a>
                    </button>
                {% endif %}
            </span>
        </div>
    </div>


{% endblock %}





{#<div class="card-footer border-top d-flex justify-content-center">#}
{#    <button class="btn btn-falcon-default btn-sm me-2" type="button" disabled="disabled" data-bs-toggle="tooltip"#}
{#            data-bs-placement="top" title="" data-bs-original-title="Prev" aria-label="Prev">#}
{#        <span class="fas fa-chevron-left"></span>#}
{#    </button>#}
{#    #}
{#    <a class="btn btn-sm btn-falcon-default text-primary me-2" href="#!">1</a>#}
{#    <a class="btn btn-sm btn-falcon-default me-2"  href="#!">2</a>#}
{#    #}
{#    <button class="btn btn-falcon-default btn-sm" type="button" #}
{#            data-bs-original-title="Next" aria-label="Next">#}
{#        <span class="fas fa-chevron-right"></span>#}
{#    </button>#}
{#</div>#}










