{% load static %}
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'orders/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'orders/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'orders/vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'orders/vendors/is/is.min.js' %}"></script>
<script src="{% static 'orders/vendors/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'orders/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'orders/vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'orders/vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'orders/assets/js/theme.js' %}"></script>
